.Padding{

    padding: 20px;
    background-color: #1F2937;

}

.header{

    text-align: left;

}

.link{

    text-align: right;

}

.two{

    text-align: right;

}

.three{

    text-align: right;

}
