.Padding{

    display: flex;
    color:  #F9FAF8;
    padding: 20px;
    background-color: #1F2937;
    color: white;
    align-items: center;

}

.header{


}

.link{

    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}
/*
.two{

    text-align: right;

}

.three{

    text-align: right;

}*/
